body {
    font-family: 'Lato', Helvetica, sans-serif;
    padding: 20px;
}

h1, h3 {
    padding-top: 15px;
}

h2 {
    padding-top: 25px;
}

img {
    max-width: 100%;
}

.references {
    margin-left: 20px;
}